/* for the canvas design */
#pong {
    border: 2px solid #FFF;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

/* start button designs */
#start
{
    background-color: #0ab1e9;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: bolder;
    color: blanchedalmond;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 140px;
    margin-left: 600px;
}

/* hover designs for start button */
#start:hover
{
    background-color: white;
    /* border: solid; */
    font-size: 16px;
    padding: 10px 20px;
    font-weight: bolder;
    color: crimson;
    border-radius: 8px;
    /* border-color: darkblue; */
    text-decoration: none;
}

/* designs for theme option buttons */
#halloween, #tennis, #sea, #classic
{
    margin: 10px;
    width: 110px;
    padding: 5px;
    text-align: center;
    /* text-decoration: none; */
    font-size: medium;
    font-weight: bolder;
    border-radius: 0px;
    border: solid 2px cyan;

}

/* hover designs for theme buttons */
#halloween:hover, #tennis:hover, #sea:hover, #classic:hover
{
    border: solid 2px;
    border-color: white;
    color:white;
    background-color:#2F4f4f;
}

/* desgin for timer */
#timer
{
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 580px;
}